.main{
    height: 80%;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.title{
    text-align:center;
    width:300px;
    margin-left:auto;
    margin-right:auto;
}
.formContainer{
    width:400px;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}
.input-container{
    display:flex;
    flex-direction:column;
    justify-content: space-evenly;
}
.input{
margin-left:22%;
margin-right:22%;
}